<IfModule mod_rewrite.c>
    Options -MultiViews
    RewriteEngine On
    Options +FollowSymLinks  
  
RewriteCond %{SCRIPT_FILENAME} !-d  
RewriteCond %{SCRIPT_FILENAME} !-f  

	RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
	</IfModule>